input[type=file] {
  display: none;
}

label {
  border: 1px solid white;
  text-align: center;
  color: #FFF;
  border-radius: 10px;
  margin: auto;
  width: 100px;
  padding: 10px;
  display: block;
  background-color: #0095ff;
}